
<div class="container mt-4 mb-4">
    <div>
      <h5>Reset Password</h5>
    </div>
    <hr>
    <div class="alert alert-success alert-dismissible fade show" role="alert"
*ngIf="message != null && message != ''">
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
</button>
{{message}}
</div>
  <form [formGroup]="forgetForm" (ngSubmit)="RequestPassword()">
      <div class="form-group m-3">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="exampleInputEmail1" formControlName="email" class="form-control m-1" id="exampleInputEmail1" placeholder="Enter email">
        <div class="text-danger" *ngIf="!this.forgetForm.get('email')?.value &&this.forgetForm.get('email')?.touched">
          required
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="this.forgetForm.invalid">Submit</button>
      <div class="alert alert-primary mt-3" role="alert">
            {{forgetForm.get('email')?.value}}
      </div>
    </form>
  </div>

