<div class="container mt-4 mb-4">
  <div>
    <h5>{{title}}</h5>
  </div>
  <hr>
  <div class="alert alert-success alert-dismissible fade show" role="alert"
  *ngIf="message != null && message != ''">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
  </button>
  {{message}}
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert"
  *ngIf="errorMsg != null && errorMsg != ''">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
  </button>
  {{errorMsg}}
</div>
<hr>
  <form [formGroup]="userForm" (ngSubmit)="AddUser()">
    <div class="form-group m-3">
      <label for="username">User Name</label>
      <input type="text" name="username" formControlName="userName" class="form-control m-1" id="username"
        placeholder="Enter User Name">
      <div class="alert alert-warning"
        *ngIf="!this.userForm.get('userName')?.value &&this.userForm.get('userName')?.touched">
        {{messageValidate.userName.required}}
      </div>
      <div class="alert alert-warning"
      *ngIf="!this.userForm.get('userName')?.value &&this.userForm.get('userName')?.touched && isUserNameExist()">
      {{messageValidate.userName.matchUserName}}
    </div>
    </div>
    <div class="form-group m-3">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="exampleInputEmail1" formControlName="email" class="form-control m-1"
        id="exampleInputEmail1" placeholder="Enter email">
      <div class="alert alert-warning" *ngIf="!this.userForm.get('email')?.value &&this.userForm.get('email')?.touched">
        {{messageValidate.email.required}}
      </div>
      <div class="alert alert-warning"
      *ngIf="!this.userForm.get('email')?.value &&this.userForm.get('email')?.touched && isEmailExist()">
      {{messageValidate.email.matchEmail}}
    </div>
    </div>
    <div class="form-group m-3">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="exampleInputPassword1" formControlName="password" class="form-control m-1"
        id="exampleInputPassword1" placeholder="Password">
      <div class="alert alert-warning"
        *ngIf="this.userForm.get('password')?.errors &&this.userForm.get('password')?.touched">
        {{messageValidate.pass.required}}
      </div>
    </div>
    <div class="form-group m-3">
      <label for="ConfirmPassword">Confirm Password</label>
      <input type="password" name="ConfirmPassword" formControlName="passwordConfirm" class="form-control m-1"
        id="ConfirmPassword" placeholder="ConfirmPassword">
      <div class="alert alert-warning"
        *ngIf="this.userForm.get('passwordConfirm')?.errors &&this.userForm.get('passwordConfirm')?.touched">
        {{messageValidate.passConfirm.required}}
      </div>
    </div>
    <div class="form-group m-3">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" name="phoneNumber" formControlName="phoneNumber" class="form-control m-1" id="phoneNumber"
        placeholder="Enter User Phone">
      <div class="alert alert-warning"
        *ngIf="!this.userForm.get('phoneNumber')?.value &&this.userForm.get('phoneNumber')?.touched">
        required
      </div>
    </div>
    <div class="form-group m-3">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" formControlName="emailConfirmed" name="checkedValue" id="checkedValue" value="checkedValue" class="custom-control-input ml-5">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">confirm email</span>
      </label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="this.userForm.invalid">Submit</button>
    <div class="alert alert-primary mt-3" role="alert">
      {{userForm.get('userName')?.value}}
      {{userForm.get('email')?.value}}
      {{userForm.get('confirmPassword')?.value}}
      {{userForm.get('phoneNumber')?.value}}
      {{userForm.get('emailConfirmed')?.value}}
    </div>
    <div class="btn-login mt-3">
      <a href="Login" class="btn btn-success">Login</a>
    </div>
  </form>
</div>