<div class="container mt-4 mb-4">
    <h5>استعادة كلمة المرور</h5>
    <hr class="mb-4" />
    <div class="login-container">
        <div class="col-md-5">
            <form [formGroup]="resetForm" (ngSubmit)="Reset()">
                <div class="form-group">
                    <label for="password">كلمة المرور</label>
                    <input type="password" formControlName="password" class="form-control" id="password"
                        placeholder="Password" required minlength="6" [ngClass]="{'is-invalid' :
             !this.resetForm.get('password')?.valid && this.resetForm.get('password')?.touched}">
                    <div class="text-danger" *ngIf="this.resetForm.get('password')?.invalid &&
            (this.resetForm.get('password')?.touched || this.resetForm.get('password')?.dirty)">
                        <div *ngIf="this.resetForm.get('password')?.errors?.['required']">
                            {{messageValidate.pass.required}}
                        </div>
                        <div *ngIf="this.resetForm.get('password')?.errors?.['minlength']">
                            {{messageValidate.pass.minLength}}
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="!isPasswordValid()">
                        {{messageValidate.pass.notMatch}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">تأكيد كلمة المرور</label>
                    <input type="password" formControlName="passwordConfirm" class="form-control" id="passwordConfirm"
                        placeholder="Password confirm" required minlength="6" [ngClass]="{'is-invalid' :
             !this.resetForm.get('passwordConfirm')?.valid && this.resetForm.get('passwordConfirm')?.touched}">
                    <div class="text-danger" *ngIf="this.resetForm.get('passwordConfirm')?.invalid &&
            (this.resetForm.get('passwordConfirm')?.touched || this.resetForm.get('passwordConfirm')?.dirty)">
                        <div *ngIf="this.resetForm.get('passwordConfirm')?.errors?.['required']">
                            {{messageValidate.passConfirm.required}}
                        </div>
                        <div *ngIf="this.resetForm.get('passwordConfirm')?.errors?.['minlength']">
                            {{messageValidate.passConfirm.minLength}}
                        </div>
                    </div>
                    <div class="text-danger" *ngIf="isPasswordMatch()">
                        {{messageValidate.passConfirm.isMatch}}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"
                    [disabled]="resetForm.invalid || isPasswordMatch()">استعادة</button>
            </form>
        </div>
    </div>
</div>













<!-- <div class="container mt-4 mb-4">
    <div>
        <h5>Reset Password</h5>
    </div>
    <hr>
    <form [formGroup]="resetForm" (ngSubmit)="Reset()">
        <div class="form-group m-3">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="exampleInputPassword1" formControlName="Password" class="form-control m-1"
                id="exampleInputPassword1" placeholder="Password">
            <div class="text-danger"
                *ngIf="!this.resetForm.get('Password')?.value &&this.resetForm.get('Password')?.touched">
                required
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="this.resetForm.invalid">Submit</button>
        <div class="alert alert-primary mt-3" role="alert">
            {{resetForm.get('Id')?.value}}
        </div>
        <div class="alert alert-primary mt-3" role="alert">
            {{resetForm.get('Token')?.value}}
        </div>
        <div class="alert alert-primary mt-3" role="alert">
            {{resetForm.get('Password')?.value}}
        </div>
    </form>
</div> -->